/* ===========================
   VARIABLES GLOBALES
=========================== */

:root {

    /* ==========
       COLORES
    ========== */

    --color-primary: #0F4C5C;
    --color-secondary: #3A7CA5;
    --color-accent: #6EC6B8;
    --color-highlight: #B8D986;

    --color-white: #FFFFFF;
    --color-background: #F7FAFA;
    --color-surface: #FFFFFF;

    --color-text: #23313A;
    --color-text-light: #66737D;

    /* ==========
       TIPOGRAFÍA
    ========== */

    --font-family: "Poppins", sans-serif;

    /* ==========
       TAMAÑOS
    ========== */

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 2rem;
    --font-xxl: 3rem;

    /* ==========
       ESPACIADOS
    ========== */

    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;

    /* ==========
       BORDES
    ========== */

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;

    /* ==========
       SOMBRAS
    ========== */

    --shadow-sm: 0 2px 8px rgba(0,0,0,.05);
    --shadow-md: 0 8px 20px rgba(0,0,0,.08);

    /* ==========
       TRANSICIONES
    ========== */

    --transition: .3s ease;

}